@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 0;
}

.header-middle {
  width: 80%;
}

.header-left, .header-right {
  width: 15%;
  font-size: 14px;
}

li {
  display: inline;
}

a {
  color: grey;
  text-decoration: none;
}

.about, .profile {
  margin-right: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 0px;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 40px 0px 0px 0px;
  background-color: #eee;
}

.footer-middle {
  width: 80%;

}

.footer-left, .footer-right {
  width: 15%;
  font-size: 14px;
}

.advertising, .privacy {
  margin-right: 8px;
}